body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #efffc4;
}

h1 {
    text-align: center;
    color: #000000;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #74d8ff;
}

.empty-message {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    text-align: center;
}